<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/resultate.css">
    <title>Geometierechner</title>

</head>

<body>

    <div class="jumbotron text-center">
        <header>
            <h1 id="title">Mathe Geometierechner</h1>
        </header>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-3">
                <div id="gleichseitig"></div>
            </div>

            <div class="col-sm-3">
                <div id="stumpfwinklig"></div>
            </div>

            <div class="col-sm-3">
                <div id="spitzwinklig"></div>
            </div>

            <div class="col-sm-3">
                <div id="rechtwinklig"></div>
            </div>
        </div>

    </div>

    <div class="jumbotron text-center">
        <footer>
            <h2 id="create">Made by: Sandro Suter, Linus Aregger, Nico Menzi, Fynn Westerath, Tobias Bertschi</h2>
        </footer>
    </div>



</body>

</html>