<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/resultate.css">
    <title>Geometierechner</title>

</head>

<body>
    <header>
        <h1 id="title">Mathe Geometierechner</h1>
    </header>


    <div id="dreiecke">

        <div id="gleichseitig"></div>

        <div id="stumpfwinklig"></div>

        <div id="spitzwinklig"></div>

        <div id="rechtwinklig"></div>

    </div>


    <footer>
        <h2 id="create">Made by: Sandro Suter, Linus Aregger, Nico Menzi, Fynn Westerath, Tobias Bertschi</h2>
    </footer>
</body>

</html>